.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    position: sticky;
    top: 0;
    padding: 80px 10px 10px 10px;
    background-color: rgb(var(--background-color));
    z-index: 1;
    margin: auto;
}

@media screen and (max-width: 800px) {
    .container {
        gap: 5px;
        padding: 60px 0 5px 5px;
    }
}